
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Tools</h2>

<input type="button" value="Role Management" onclick="location.href='@Url.Action("Index", "Roles")'" />
<input type="button" value="User Management" onclick="location.href='@Url.Action("Index", "Users")'" />
<input type="button" value="Tag Management" onclick="location.href='@Url.Action("Index", "Tags")'" />