@{
    ViewBag.Title = "Home Page";
}
<header class="pc-header">
    <h2>Alumni</h2>
    <hr>
    <h1>Hotel School Almelo</h1>
</header>
<div class="seperation">
</div>
<div class="information container">
    <div class="newsBox">
        <h2></h2>   <!--plaats hier de naam van de nieuws of informatie-->
        <div class="text">
        </div><!--plaats hier de nieuws of informatie-->
    </div>
    <div class="newsBox">
        <h2></h2>   <!--plaats hier de naam van de nieuws of informatie-->
        <div class="text">
        </div><!--plaats hier de nieuws of informatie-->
    </div>
</div>
<footer class="pc-footer">
    <ul class="info">
        <li><h3>Contact</h3></li>
        <li>Wierdensestraat 65,</li>
        <li>Almelo</li>
        <li>Tel: 0546 809 000</li>
        <li>E-mail: info@rocvantwente.nl</li>
    </ul>
</footer>
