body {
    background-color: #E2001A;
    width:100%;
    height: 100%;
    
}
    
.actions {
    width: 100%;
    font-size: 13px;
    margin-top: 20px;
}

.row{
    padding-bottom: 10px;
}

.post{
    border-left: 2px solid black;
    padding-left: 10px;
}
.background {
    top:0;
    z-index: -1;
    position: fixed;
    background-image: url(../Media/svg/background2.svg);
    background-size: cover;
    width:100vw;
    height:100vh
}
.btn-danger {
    background-color: #0063AD !important;
    border: #0063AD;
}
.container{
    margin-top:100px;
    margin-bottom: 100px;
}
.post{
    overflow-x:hidden;
}
    .post p {
    
        text-overflow: ellipsis;
        width: 100% !important;
        word-break: break-all;
    }
.background2 {
    background-color: rgba(0,0,0,0.6);
    padding: 5%;
    color:white;
}   
h2,h4{
    color:white;
}
.back{
    padding:5px;
    border-radius:2px;
    background-color:white;
    width:100px;
}
.back:hover{
    transition: background-color 0.25s;
    background-color:lightgray;
}
.image {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center center;
}