body,
html {
    height: 100%;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}
nav, .triangle{
	position: fixed !important;
}
.triangle {
	z-index: 50;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	height: 150px;
	background-image: url("../media/svg/roc-menu.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar{
    padding-left: 40px;
    top: 0px;
    left: auto;
    right: -10px;
    position: absolute;
    min-width: 450px;
    border-radius:  0 100px;
    background-color: rgb(5, 5, 129);
    color: white;
    z-index: 10;
    display: table-cell;
    vertical-align: middle;
}

    .navbar li {
        margin-top: 3px;
        float: left;
        list-style-type: none;
    }

.nav a {
    padding: 12px 0px 12px 0px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar a:hover {
    background-color: rgba(0,0,0, 0.2) !important;
}
.userbar {
    position: absolute;
    top: 48px;
    right: 50px;
    left: auto;
    background-color: blue;
    padding: 10px 110px 10px 40px;
    border-radius:  0 50px;
}
.userbar a {
    color:white;
    padding: 13px 5px 13px 5px;
    font-size: 0.9em;
}
.userbar li{
    margin-top: 0px;
}
.empty{
    padding-right:140px;
}