body,
html {
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}
nav {
	position: fixed;
}
.triangle {
	z-index: 50;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	height: 150px;
	background-image: url("../media/svg/roc-menu.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}