html {
    overflow-y: hidden;
}
span{
    color:white !important;
}
body {
    background-color: #b70116;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    font-size: 1em;
}
h1{
    font-weight:bold;
    text-align:center;
    font-size: 6em;
    color:white;
    margin:-2% 0 4% 0;
}
 input{
	background-color:white;
}
.background {
	z-index: -100;
	position: absolute;
	top: -100vh;
	left: -80vw;
	width: 170vw;
	height: 190vh;
	background-color: #e2001a;
	box-shadow: 0px 10px 30px black;
	transform: rotate(-45deg);
}
.register {
    font-weight:bold;
    font-size: 1em;
    z-index: 100;
    position: fixed;
    top: 10px;
    left: 10px;
    display: block;
}
.register a {
    color: white;
}
.row input{
    padding: 0 10px;
    display:block;
    height:50px;
    width:600px;
    margin:10px auto;
    border:none;
    border-radius:0;
}
.row{
    width: 100vw;
    text-align:center;
    margin:0;
}
.row .submit{
    width: 50%;
    height:30px;
    border:none;
}
.row .checkbox{
    background-color:white;
    display:inline;
    float:left;
    width: 20px;
    height:20px;
}
.row label{
    color:white;
    align-self: center;
    display:inline;
    text-align:center;
}
.row div{
    width:280px;
    text-align:center;
    height: 30px;
    margin:auto;
}
.error-messege {
    height: 500px;
}

    .error-messege li {
        text-align:center;
        background-color: #0063ad;
        color: white;
        margin-left: 35%;
        margin-right:35%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 5px;
        padding-top: 5px;
        list-style: none;
        box-shadow: 0px 10px 30px black;
        border-radius: 10px;
    }