body {
    background-color: #E2001A;
}
.image{
    max-width:300px;
    height:200px
}
h2{
    color:white;
}
.background {
    top: 0;
    z-index: -1;
    position: fixed;
    background-image: url(../Media/svg/background2.svg);
    background-size: cover;
    width: 100vw;
    height: 100vh
}
table{
    color:white;
    background-color: rgba(0,0,0,0.6);
}
p a{
    background-color:white;
    padding: 5px;
    border-radius:2px;
    margin-left:1%;
}
.background2{
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding: 5% 1%;
}