body {
    background-color: #E2001A;
}

.background {
    top: 0;
    z-index: -1;
    position: fixed;
    background-image: url(../Media/svg/background2.svg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: ghostwhite;
}
